*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-image: url('/img/nodos.jpg');
    background-size: cover;
    background-position: center center;
    animation: nombre-animacion 10s ease-in-out infinite;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

/*Header*/
#header{
    background: #D6E4E5;
    width: 100% !important;
    height: 50px;
    display: grid;
}

#header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logos{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
}

#logos h1{
    margin-top: -3px;

}

#logo{
  margin-top: -2px;
}

#menu{
    margin-left: 70px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
} 

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#login {
    margin-top: 7px;
    margin-right: 20px;
}

#login a{
    margin-right: 20px;
}





/*Botones menu*/

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
.pulse {
  --color: #000000;
  --hover: #ffffff;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

#menu a {
  background: none;
  font: inherit;
  margin: 0.5em;
  padding: 0.7em 1em;
}
#menu a {
  color: var(--color);
  transition: 0.25s;
}
#menu a:hover, #menu a:focus {
  border-color: var(--hover);
  color: #fff;
}

/*Botones login*/

#sign{
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    border: none;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    font-family: inherit;
    margin-right: 20px;
}

#log{
    background-color: #ffffff;
    color: rgb(15, 15, 15);
    transition-duration: 0.3s;
    border: none;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    font-family: inherit;
    margin-right: 20px;
}

#login a{
    border-radius: 25px;
}

#log:hover{
    background-color: #000000;
    color: #ffffff;
    font-size: 19px;
}

#sign:hover{
    background-color: white;
    color: #000000;
    font-size: 19px;
}

/*FOOTER*/

.footer { 
    background-color: #D6E4E5;
    height: 5rem;
    padding: 5px 10%;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
  }
  
  .container-permisos {
    margin: 25px;
    padding-bottom: 5rem; /* altura del pie de página */
  }